extends layout
block landingHeader
block content
  
  //p #{result.title}
  div(class="container")
    h1= title
    a(href= "/messages/new" class=" shadow btn btn-outline-success text-light") New Message
    br
    br
    ul(class="list-group")
      each element in result
        a(href= "/messages/" + element._id class="list-group-item bg-dark shadow btn btn-outline-dark text-light") #{element.title}
            
          
    


    